.header{
    text-align: center;
    color: red;

    border:solid;
}

.grid{
    text-align: center;
}

.item{
    width: 2000px;
    align-items: center;
}

.dsd{
   
}

.dsd1{
   
}



